.Register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    margin: auto;
    max-width: 400px;
}
.form-signin p {
    text-align: left;
    color: red;
}
.Register-label {
    text-align: left;
}
